<div class="container-fluid">
	<div class="row-fluid">
  			<div class="topbar">
          		<ul class="logo pull-left">
          			Set_Sick&nbsp;&nbsp;&nbsp;&nbsp;How it Works
           		</ul>
          		<ul class="logo pull-right">
          			Sign Up / Sign In
          		</ul>
   			</div>
	</div>
</div>			


<div class="container-fluid">
	<div class="row-fluid">
  <div class="main">
    <div class="toplinetext">
    <center>Popular&nbsp;&nbsp;&nbsp;Top Rated&nbsp;&nbsp;&nbsp;Most Reviewed</center>
    </div>
    <div class="topline">
    </div>
    <ul class="tags">
    <center>techno&nbsp;&nbsp;house&nbsp;&nbsp;minimal&nbsp;&nbsp;tech-house&nbsp;&nbsp;dubstep&nbsp;&nbsp;vocal-house&nbsp;&nbsp;trance&nbsp;&nbsp;dance</center>
    </ul>
     <div class="topline">
      </div>
  </div>  
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
	
    <div class="span9">
		<div class="pagebody">
		        <div class="headingstext"><center>Today's Track Feed</center></div>
				<div class="line">
				</div>	
	    </div>
    </div>

    <div class="span3">
      <div class="pagebody">
		<div class="headingstext"><center>Categories</center></div>
		<div class="line">
		</div>
	 </div>
   </div>

  </div>
</div>
  




